version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: transactional_postgres
    restart: always
    environment:
      POSTGRES_DB: transactional_portal
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: transactional_backend
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    restart: always

volumes:
  postgres_data:
